<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Canvas Hex Strategy Game</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type=text/javascript src="{{url_for('static', filename='jquery-2.2.0.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='buttons.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='app.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='hexagon.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='utils.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='tile_queueing.js')}}"></script>


</head>

<body>
    <div class="container">
        <button id="newMapBtn" class="btn btn-lg btn-primary" type="button">New Map</button>
        <button id="addPlayerBtn" class="btn btn-lg btn-primary" type="button">Add Player</button>
        <button id="endTurnBtn" class="btn btn-lg btn-primary" type="button">End Turn</button>
        <button id="endGameBtn" class="btn btn-lg btn-primary" type="button">End Game</button>
        <button id="saveGameBtn" class="btn btn-lg btn-primary" type="button">Save Game</button>
        <button id="showInfoBtn" class="btn btn-lg btn-success" type="button">Show Info</button>


    </div>
    <canvas id="base" style="width: 500px; height: 500px; position: absolute; left: 50; top: 50; z-index: 0;"></canvas>
    <canvas id="top" style="width: 500px; height: 500px; position: absolute; left: 50; top: 50; z-index: 1;"></canvas>
</body>
 
</html>